.About {
  background-color: #000000;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 1068px;
  height: auto;
  border-radius: 15px;
  padding: 20px;
  background: radial-gradient(circle at left, rgba(22, 19, 114, 0.3), rgb(8 0 255 / 23%), rgba(4, 246, 234, 0.15));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dj1 {
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  top: 0;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

p {
  position: static;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
  text-align: justify;
  margin-top: 20px;
  display: flex;
  justify-content: center;
 
}

@media screen and (max-width: 768px) {
  .card {
    padding: 10px; /* Adjust padding for better spacing on smaller screens */
  }

  .dj1 {
    max-width: 100%; /* Adjust max-width for better scaling on smaller screens */
  }
  .vv1{
    
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2.25rem;
  
  }
}

@media screen and (max-width: 2000px) and ( min-width :800px) {
  .card {
    width: 100%;
    max-width: 1168px;
    height: 388px;
    border-radius: 15px;
    padding: 20px;
    background: radial-gradient(circle at left, rgba(22, 19, 114, 0.3), rgb(8 0 255 / 23%), rgba(4, 246, 234, 0.15));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dj1 {
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  top: 10px;
  left: -353px;
}

.vv{
 
    position: static;
    font-family: 'Montserrat', sans-serif;
        text-align: justify;
    margin-top: 20px;
    display: flex;
font-size: 1.07rem;
    justify-content: center;
    position: absolute;
    top: 80px;
    left: 440px;
}
.vv1{
 
  position: static;
  font-family: 'Open Sans', sans-serif;  text-align: justify;
  margin-top: 20px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 622px;
  font-size: 2.5rem;
color:rgb(255, 255, 255);
}
.re{
  margin-top: 10px;
}
}