.About{
  background-color: #000000;
  padding: 50px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  margin-left: -250px;
}
.card {

   width:100%;

    height: 450px;
    border-radius: 15px; /* Adjust the radius as needed for your desired level of rounding */

    padding: 200px;
    margin-left: 253px;
   
    background: radial-gradient(circle at left,rgba(22,19,114,.3),rgb(8 0 255 / 23%),rgba(4,246,234,.15));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
.dj{
  display: flex;
  justify-content: flex-end;
  align-self:flex-end;
  position: absolute;
  left:652px;
  top:-90px;
  width: 800px;
}
.dj1{
  display: flex;
  justify-content: flex-end;
  align-self:flex-end;
  position: absolute;
  left:-95px;
  top:-80px;
  width: 800px;
}
.col  {
  display: flex;
  justify-content: space-between;
  
}
p{
  margin-top: 80px;

}