.faculty{
    background-color: #000000;
   
}

.patron h2,.convenor h2,.coordinator h2,.ace h2,.orgac h2{
    font-size: 38px;
    color: white;
    text-align: center;
    margin-top: -1px;
}

.patron .image,.convenor .image,.coordinator .image,.ace .image,.orgac .image{
    display: flex;
    align-items: center ;
    justify-content: space-around;
    padding: 50px;
   
 
}


.patron  img, .convenor img{
    border-radius: 25px;
    width: 605px;
}
.coordinator img,.ace img,.orgac img{
    width: 405px;
    border-radius: 20px;
}


.patron p,.convenor p,.coordinator p,.ace p,.orgac p{
    font-family:'Roboto', sans-serif;
    font-size: larger;
}


.convenor .image{
    display: flex;
    justify-content: space-around;
    padding: 50px;
   
 
}
@media screen and (max-width:991px) {
    .patron .image,.convenor .image,.coordinator .image,.ace .image,.orgac .image{
        display:flex;
        flex-direction:column;
    }
    .patron  img, .convenor img{
        border-radius: 25px;
      
    }
    .patron p,.convenor p,.coordinator p,.ace p,.orgac p{
        margin: 8px;
    }
    .faculty{
        
        height:700vh;
    }
}












