.Hackathon {
  background-color: #0a1a2e;
  height: 100vh;
  position: relative;
}

.elements {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elements > div {
  flex: 1;
  margin: 20px; /* Adjust margin for spacing between elements */
  color: white;
}

.elements img {
  width: 100%;
  max-width: 800px;
  display: block; /* Remove flex properties for image */
}

.ee {
  display: flex; /* Apply flex to .ee to arrange elements in a row */
  margin: 20px; /* Adjust margin for spacing */
  color: white;
}

.ee h1 {
  margin-bottom: 0; /* Remove negative margin */
}

.ee p {
  margin-left: auto; /* Add margin to push p tag to the right */
}
.elements > div p {
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 20px 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .Hackathon {
    max-width: 100%;
  }
  .elements img {
    width: 100%;
    max-width: none;
    top: auto;
    left: auto;
    position: static;
  }
  .elements > div h1 {
    margin-bottom: 0;
    margin-top: 20px;
  }
  .elements > div p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
  }
}
