.Hackathon {
  background-color: #0a1a2e;
  height: 100vh; /* Set height to viewport height */
}

.elements {
  display: flex;
  flex-direction: column; /* Change flex direction to column for mobile view */
  align-items: center;
}

.elements > div {
  flex: 1;
  margin: 20px 0; /* Adjust margins for mobile view */
  color: white;
  width: 100%;
}

.elements img {
  width: 100%;
  max-width: 500px;
  margin: 20px 0; /* Adjust margins for mobile view */
}

.elements > div h1 {
  margin-bottom: -20px; /* Adjust margin-bottom for mobile view */
  text-align: center;
  width: 100%;
}

.elements > div p {
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 20px 0; /* Adjust margins for mobile view */
  width: 100%;
}

@media screen and (max-width: 768px) {
  .Hackathon {
    max-width: 100%; /* Adjust max-width for mobile view */
  }
  .elements img {
    width: 100%;
    max-width: none; /* Remove max-width for mobile view */
    top: auto;
    left: auto;
    position: static; /* Remove absolute positioning for mobile view */
  }
  .elements > div h1 {
    margin-bottom: 0;
    margin-top: 20px; /* Adjust margin-top for mobile view */
  }
  .elements > div p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px; /* Adjust margin-top for mobile view */
  }
}
