/* Home.css */

.home {
  position: relative;
  overflow-x: hidden;
  height: 100vh; /* Adjust the height as needed */
  background-image: url('./g2.svg');
}

#d {
  width: 40%;
  /* Adjust the margin-right for the gap on the right */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
  left: 824px;
  top: 130px;
  animation: floatInPlace 4s ease-in-out infinite; /* Adjust the duration (4s) and easing as needed */
}
.ww {
  border: 2px solid #309e96;
    width: 125px;
    position: absolute;
    height: 46px;
    flex-shrink: 0;
    margin-top: 28px;
    background-color: #1a4042;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  position: absolute;
  left: 4px;
  font-size: 1.5rem;
}
.oo {
 position: absolute;
 top: 100px;
 left: 110px;
}

.ws {
  position: absolute;
  margin-top: 45px;
  margin-left: 170px;
}

.text {
  text-align: center;
  position: absolute;
  top: 248px;
  left: 281px;
  line-height: 1.5rem;
  line-break: anywhere;
  font-size: 20px;
  z-index: 2;
}

.text h1{
  font-family: 'Open Sans', sans-serif;   
   font-size:3.5rem;
   font-weight: 800;
   
}

.wert{
  width: 100%;
  max-width: 300px;
  z-index: 1;
}

.text h1,
p,
span {
  color: white;
}

@media screen and (max-width: 768px) {
  
  .text {
    top: 34px;
    left: 50%; /* Center text horizontally */
    transform: translateX(-50%); /* Center text horizontally */
    /* Set the text color */
    font-size: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #d {
    width: 80%;
    height: auto;
    position: absolute;
    left: 37px;
    top: 394px;
}
.ww {
  border: 2px solid #309e96;
    width: 125px;
    position: absolute;
    height: 46px;
    flex-shrink: 0;
    margin-top: 28px;
    background-color: #0e2223;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin-right: 10px;
  top: 88px;
  

}
.text p {
  position: static;
  font-family: 'Open Sans', sans-serif;  text-align: justify;
  margin-top: 81px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  position: absolute;
  top: 30px;
  left: 40px;
}
.ww {
  border: 2px solid #309e96;
    width: 125px;
    position: absolute;
    height: 46px;
    flex-shrink: 0;
    margin-top: 28px;
    background-color: #0e2223;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin-right: 10px;
  top: 92px;
  left: -99px;

}
.text h1{
  
    font-size: 1.5rem;
    margin-top: 169px;
    margin-left: 15px;

}

}
