/* Your existing pure CSS styles */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  margin:0;
  padding: 0;
 width: auto;
  
}
.App {
  text-align: center;
}

#Navbar{
  display: flex;
  position:fixed;
  width:auto;
  height:auto;
}

.we {
  background-color: #000000;
  /* Add other styles as needed */
}

